version: "3"

networks:
  gitea:
    external: false

services:
  server:
    image: gitea/gitea:1.14.3
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=db:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD=gitea
      - GITEA_CUSTOM=/data/gitea/custom
    restart: always
    networks:
      - gitea
    volumes:
      - /mnt/data1/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - db

  db:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=gitea
      - POSTGRES_DB=gitea
    networks:
      - gitea
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
  
  cloudflared:
    image: ghcr.io/milgradesec/cloudflared:latest
    user: root
    command: tunnel
    environment:
        - TUNNEL_HOSTNAME=git.yude.jp
        - TUNNEL_URL=http://server:3000
        - TUNNEL_ORIGIN_CERT=/root/.cloudflared/cert.pem
    volumes:
        - '$HOME/.cloudflared:/root/.cloudflared'
    networks:
      - gitea
    restart: always