[Unit]
Description=Gitea (Git with a cup of tea)
After=syslog.target
After=network.target
Requires=postgresql.service

[Service]
LimitMEMLOCK=infinity
LimitNOFILE=65535
RestartSec=5s
Type=simple
User=root
Group=root
WorkingDirectory=/var/lib/gitea/
ExecStart=/usr/bin/gitea web --config /etc/gitea/app.ini
Restart=always
Environment=USER=root HOME=/root GITEA_WORK_DIR=/var/lib/gitea

[Install]
WantedBy=multi-user.target