[Unit]
Description=Minecraft Server yude.jp
After=network-online.target

[Service]
User=yude
TimeoutStopSec=120
WorkingDirectory=/home/yude/minecraft
ExecStart=/usr/bin/screen -Dm -S minecraft /usr/lib/jvm/java-16-adoptopenjdk/bin/java -Xms2560M -Xmx3G spigot.jar
ExecStop=/usr/bin/screen -S minecraft -X stuff "say サーバーは 5 秒後に停止されます。\015"
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -S minecraft -X stuff "save-all\015"
ExecStop=/usr/bin/screen -S minecraft -X stuff "stop\015"
Restart=no

[Install]
WantedBy=multi-user.target