[Unit]
Description=Waterfall
After=network-online.target

[Service]
User=yude
TimeoutStopSec=120
WorkingDirectory=/home/yude/minecraft/waterfall
ExecStart=/usr/bin/screen -Dm -S waterfall /usr/lib/jvm/java-11-openjdk/bin/java -Xms256M -Xmx512M -jar /home/yude/minecraft/waterfall/waterfall.jar
ExecStop=/usr/bin/screen -S waterfall -X stuff "alert Proxyは 5 秒後に停止されます。\015"
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -S waterfall -X stuff "end\015"
Restart=no
[Install]
WantedBy=multi-user.target