[Unit]
Description=Owncast Service

[Service]
Type=simple
WorkingDirectory=/var/www/owncast
ExecStart=/var/www/owncast/owncast
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target